@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');

* {
    font-family: 'Nunito Sans', sans-serif;
}

.incorrect
{
    text-decoration: line-through;
}

.gem {
    width: 75px;
    height: 75px;
}