<div class="container">
    <div class="column is-8 is-offset-2">
        <div class="tile is-parent is-vertical">

            <article class="tile is-child notification is-primary">
                <p class="title">About Mutlify...</p>
                <p class="subtitle">
                    Multifly is a simple flash-card style math game for children (or anyone) to learn multiplication. 
                    It has a few game mechanics built into it such as level difficulty, progression and gem currency.
                </p>
            </article>

            <article class="tile is-child notification is-warning">
                <p class="title">Why?</p>
                <p class="subtitle">Because there isn't a site out there that doesn't have ads or require users to sign up. This is intended to be used by young children.</p>
            </article>

            <article class="tile is-child notification is-dark">
                <p class="title">Levels</p>
                <p class="subtitle">Each level gets progressivly harder. Each level requires more and more correct answers to level up.</p>
            </article>

            <article class="tile is-child notification is-dark">
                <p class="title">Streaks</p>
                <p class="subtitle">Streaks are when you get 5 or more answers correct in a row!</p>
            </article>

            <article class="tile is-child notification is-dark">
                <p class="title">Gems</p>
                <p class="subtitle">You earn 5 gems when you level up. You also earn 3 gems when you achieve a streak!.</p>
            </article>

            <article class="tile is-child notification is-dark">
                <p class="title">Store</p>
                <p class="subtitle">You will be able to eventually buy stuff with your gems. Maybe customize a character or buy charms or something. TBD!</p>
            </article>

        </div>

    </div>
</div>