<section class="section">
    <div class="container">
      <h1 class="title">Multifly: Multiplication made fun.</h1>
      <div class="columns is-8 is-variable ">
        <div class="column is-two-thirds">
            <div class="columns is-multiline is-mobile">
                <div class="column is-half has-text-right is-size-1"></div>
                <div class="column is-half has-text-left is-size-1">
                    {{question.firstValue}}
                </div>
                <div class="column is-half has-text-right is-size-1">
                  X
                </div>
                <div class="column is-half has-text-left is-size-1">
                  {{question.secondValue}}
                </div>
            </div>

            <div class="columns is-mobile is-centered">
                <div class="column is-half has-text-centered">
                    <input class="input is-large" type="text" #newAnswer>
                </div>
            </div>

            <div class="columns is-mobile is-centered">
                <button class="button is-large is-primary" (click)="onCalculate()">Calculate</button>
            </div>

            <span class="is-size-1">Level: {{currentLevel}}</span>
            <progress class="progress is-primary" value="{{levelXp}}" max="{{progressMax}}"></progress>

            <div *ngIf="displayStreak" class="columns is-mobile is-centered">
                <span class="is-size-1">{{streak}} CORRECT HOT STREAK!</span>
            </div>

        </div>

        <div class="column is-one-third has-text-left">
            <div class="columns is-multiline is-mobile">
                <div class="column is-full has-text-left">
                <img src="assets/img/gem.png" class="gem"/> 
                <span class="is-size-1"> {{displayGems}}</span>
                </div>
                <div class="column is-full has-text-left">
                    <span class="is-size-2">Results:</span>
                    <div *ngFor="let answeredQuestion of questions">
                        <span class="is-size-3 has-text-success" [ngClass]="{'has-text-danger' : answeredQuestion.incorrectAnswer}">
                            {{answeredQuestion.firstValue}} X {{answeredQuestion.secondValue}} =
                            <span [ngClass]="{'incorrect' : answeredQuestion.incorrectAnswer}">        
                                {{answeredQuestion.submittedAnswer}}  
                            </span>
        
                            <span *ngIf="answeredQuestion.incorrectAnswer" class="has-text-success">        
                                {{answeredQuestion.correctAnswer}}  
                            </span>
                        </span>
                    </div>
                </div>
            </div>
            
        
        </div>
      </div>

    </div>
</section>